html,
body {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
     scrollbar-color:#6B91A8 #BDCDD7;
     scrollbar-width: bold;
     scrollbar-arrow-color: #6B91A8;
 }

